//colors
$text-color: black;
$dark: #2F2F2F;
$grey: #CECECE;
$greylight: #ECECEC;
$accent: #DE7064;
$error: red;

// measures
$search-height: 48px;
$search-width: 456px;
$pad-left: 48px;
$pad-right: 51px;
$font-size: 16px;